{% extends "brand-layout.html" %}
{% block content %}
<h4 class="py-3 mb-4"><span class="text-muted fw-light">Change Password</h4>
<div class="row">
    <div class="col-md-12 col-lg-8 mb-4">
        <div class="card">
            <form id="brand-change-password" onsubmit="return false">
                <div class="card-body">
                    <div class="mb-3">
                        <label class="form-label required" for="old_password">Old Password</label>
                        <input type="password" class="form-control" id="old_password" name="old_password">
                        <p class="old_password-validate"></p>
                    </div>
                    <div class="mb-3">
                        <label class="form-label required" for="new_password">New Password</label>
                        <input type="password" class="form-control" id="new_password" name="new_password">
                        <p class="new_password-validate"></p>
                    </div>
                    <div class="mb-3">
                        <label class="form-label required" for="confirm_password">Confirm Password</label>
                        <input type="password" class="form-control" id="confirm_password" name="confirm_password">
                        <p class="confirm_password-validate"></p>
                    </div>
                    <div class="mb-3">
                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
$.validator.setDefaults({
    submitHandler: function() {
        alert("form-submitted!");
    }
});
$.validator.addMethod(
    "regex",
    function(value, element, regexp) {
        var check = false;
        return this.optional(element) || regexp.test(value);
    },
    ""
);
$().ready(function() {
    $("#brand-change-password").validate({
            rules: {
                old_password: {
                    required: true,
                    regex : /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/, 
                    minlength: 8
                },
                new_password: {
                    required: true,
                    regex : /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/, 
                    minlength: 8
                },
                confirm_password: {
                    required: true,
                    equalTo: "#new_password"
                }
            },
            messages: {
                old_password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long",
                    regex: "Your password must be a minimum of eight characters long and contain at least one uppercase and one lowercase letter (A, z), one numeric character (0-9), and one special character (such as . $ @ ! % * ? & # ^ < > ()~`+_-)."
                },
                new_password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long",
                    regex: "Your password must be a minimum of eight characters long and contain at least one uppercase and one lowercase letter (A, z), one numeric character (0-9), and one special character (such as . $ @ ! % * ? & # ^ < > ()~`+_-)."
                },
                confirm_password: {
                    required: "Please provide a password",
                    equalTo: "Please enter the same password as above",
                }
            },
        errorPlacement: function (error, element) {
            var name = $(element).attr("name");
            error.appendTo($("." + name + "-validate"));
        },
        });

    });
</script>
{% endblock %}

